:root{
    --color1: #2da44a;
    --color2: #9bba35;
}
#carouselSelected{
    padding: 0 !important;
}
.carousel-inner{
    padding: 0 !important;
}

.xdd{
    width:100% !important;
    /* height: 100% !important; */
}

.mediaDetail{
    padding: 0 !important;
}
/* #details{
 
} */
.services{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
iframe{
    padding: 1rem 0 1rem 0;
}

.promo2{
    width: 100% !important;
}

.descriptionImg{
    background-color: rgba(22, 22, 22, .6);
    left: 0 !important;
    right: 0 !important;
    font-weight: bold !important;
    padding-bottom: 0rem !important;
}
.nav-link-fixed{
    color: var(--color1) !important;
}
.amenities{
     color: var(--color1) !important;
}

.map { 
    width: 100% !important;
    height: 15em;
}
.colorText1{
    color: var(--color2);
}
.colorText2{
    color: var(--color1);
    font-weight: bold !important;
}
.colorTextP{
    color:#444;
}
/* .products-list .product-item2{
    height: 20rem !important;
}
.carouselExampleControls2{
    height: auto !important;
} */