.title{
    margin-top: 80px;
    font-size: 20px;
    margin-bottom: 10px;
}
.confirmation{
    border: 1px black solid !important;
    max-height: 150px;
    max-width: 600px;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
}
.confirm-number{
    margin: 0 !important;
    font-size: 16px;
    width: 175px;
    height: 150px;
    padding-top: 40px;
    overflow: hidden;
    box-sizing: border-box;
}
.release p{
    margin: 0 !important;
}
.release{
    height: 150px;
    margin-left: 175px;
    font-size: 16px;
    padding-left: 20px;
    overflow: hidden;
    box-sizing: border-box;
    /* width: 400px; */
}
.resumen{
    display: flex;
    font-size: 16px;
    max-height: 102px;
    justify-content: space-between;
    margin: auto !important;
    clear: both;
}
.resumen .box{
    padding: 0 !important;
    width: 120px;
    height: 100px;
}
.resumen .box .boxTop, .boxBot{
    height: 45px;
    border-left: 1px #333 solid;
    border-right: 1px #333 solid;
}
.resumen .box .boxTop, .boxBot{
    border-top: 1px #333 solid;
}
.resumen .box .boxBot{
    border-bottom: 1px #333 solid;
    color: #fff;
    text-align: center;
}
#box02{
    margin-left: 120px;
}
#box03{
    margin-left: 240px;
}
#box04{
    margin-left: 360px;
}
#box05{
    margin-left: 480px;
}
.notes{
    width: 600px;
    font-size: 14px;
    margin: 0 !important;
}
.notes h3{
    font-size: 20px;
    margin-bottom: 0 !important;
}
.notes ol{
    text-align: justify;
}
#polices{
    margin-bottom: 10px;
}
#bg-mem{
    width: 700px !important;
    height: 1050px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}
#all-text{
    z-index: 20;
}