:root{
    --primary    : rgb(45, 164, 74);
    --primary2   : #2da44a;
    --secondary : rgb(155, 186, 53);
    --secondary2  : #9bba35;
    --shadowCol  : #4edb87;
    --otherColor : #2ca34c;
}

body{font-family: 'Open Sans', sans-serif;}

/* ========================= */
/* style for search box */
/* ========================= */

#destiny_box{
    position: relative;
}
.no-show{
    display: none !important;
}
.yes-show{
    display: inline-block;
}
#lorem{
    position: relative;
}
/* caja que muestra las coincidencias en la base de datos */
#selectResult{
    position: absolute;
    width: 97% !important;
    left: 1rem;
    bottom: -6.6em !important;
    z-index: 3;
}
#msgNot{
    position: absolute !important;
    bottom: -8.2rem !important; 
    left:1rem;
    z-index:3;
}
.labelMin{
      position: absolute;
      font-size: 11px;
      margin-top: .2rem;
      margin-left: 2.4rem !important;
      color:#0ea340;
      text-shadow: 0 0 .6px var(--shadowCol);
}
.labelMin2{
      /* margin-left: 41rem; */
      /* border: 1px red solid; */
      text-shadow: 0 0 .6px var(--shadowCol);
}
.innerIcon{
    position: absolute;
    bottom: .8em !important;
    left: 1.2em !important;
    font-size: 1.2rem;
    color: #0ea340;
}
.formMy{
      display: flex;
      flex-wrap: wrap;
}
.checks, .bxSearch{
    text-align: center;
    padding-top: 1rem !important;
    padding-left: 1.5rem !important;
}
.checks{
    height: 3em !important;
    font-size: 14px !important;
}
.selPad{
    text-align: center;
    height: 3.15em !important;
}
/* contenedor del checkout */
.aaa{
    margin-bottom: 1em !important;
}
.bxSearch{
    /* height: 3em !important; */
    /* padding-top: 3rem !important; */
    /* border: 1px red solid; */
    font-size: 16px;
}
.checks:focus,.bxSearch:focus {
   border: var(--primary2) 1px solid !important;
   box-shadow: 0px 0px 7px var(--shadowCol) !important;
}

/* Search box styles */
/* Search box styles */

.wrap{width: 90%;margin: auto;}

.store-wrapper{display: flex;flex-wrap: wrap;}

.category_list{display: flex;flex-direction: column;width: 18%;}

.category_list .category_item{
	text-decoration: none;
	color: #fff;
}

.category_list .ct_item-active{
    color: #333;
    font-size: 14px;
}
/* nombres de hoteles */
.htl-name{
    color: var(--primary2);
    font-weight: bolder;
}
/* tipo de hotel */
.htl-type{
    color: var(--otherColor);
    font-weight: lighter;
}

/* PRODUCTOS ============*/
/* stars */
.fa-star, .fa-star-half{
    color: #cc9900;
}

/* contiene todos los resultados */
.products-list{
    width: 82%;
	display: flex;
    flex-wrap: wrap;
    padding: 0 !important;
    /* border: 1px red solid; */
}
.products-list2{
    width: 100% !important;
}

/* afecta al slide */
.carousel-inner .carousel-item img{
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    box-sizing: border-box;
    /* border: 1px red solid; */
}
/* contenedor de cada resultado de la busqueda */
.products-list .product-item{
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
    transition: all .4s;
    box-shadow: 0px 0px 5px #999;
    /* border: 1px blue solid; */
    border-radius: 0 0 15px 0;
    background-color: #fff;
    padding: 0 !important;
    /* height: 17.4em; */
}

/* contenedores para detalles de hotel y detalles de precios */
.cash, .detail{
    padding: .5rem .5rem 0 0;
}

.cash{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.promo{
    width: 100%;
    padding: 5px 10px;
    border-radius: 0 0 0 1px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}
.text-promo{
    color: #fff;
    font-weight: bolder;
    font-size: 12px;
}
.real-price{
    margin-top: 3em;
    display: flex;
}
.old-price{
    padding: 5px 10px;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-bottom: 1px var(--secondary2) solid;
}
.currency{
    font-size: 12px;
    font-weight: bolder;
}
.new-price{
    color: var(--primary);
    padding: 5px 10px;
    border-bottom: 1px var(--secondary2) solid;
}
/* RESPONSIVE */

@media screen and (max-width: 1260px){
	/* .products-list .product-item img{
        width: 125% !important;
    } */
}
@media screen and (max-width: 1060px){
	/* .products-list .product-item img{
        width: 130% !important;
    } */
}
@media screen and (max-width: 975px){
    /* .carouselExampleControls{
        
    } */
	/* .products-list .product-item img{
        width: 135% !important;
    } */
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
        font-size: 14px;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
    }
    /* .carouselExampleControls{
        height: 100% !important;
    } */
}
/* esta parte cambiarla a un menu */
/* esta parte cambiarla a un menu */
/* esta parte cambiarla a un menu */
/* esta parte cambiarla a un menu */
@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
        margin-bottom: 10px;
	}
}

@media screen and (max-width: 760px){

	.products-list .product-item{
        width: 100%;
        height: auto !important;
    }
    /* .carouselExampleControls{
        max-width: 100% !important;
        height: 12em !important;
        margin: 0 !important;
        box-sizing: border-box !important;
        overflow: hidden !important;
    } */
    /* .products-list .product-item img{
        width: 100% !important;
        transform: scale(1.5) !important;
        transform: translateY(-3em);
    } */
    /* estilos de el texto y los precios */

    .cash{
        width: 30% !important;
        padding: 0 !important;
    }
    .detail{
        width: 70% !important;
        padding: .5rem .1rem 0 .5rem;
    }
}

/* hotels menus */
.wrap2{
	max-width: 90%;
	margin: 10px auto;
}
ul.tabs li{
	width: 100px;
	margin: 10px;
}

@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}
}
#btnGO{
    font-size: 18px;
}
/* menu lateral */
#menuToolBox{
    /* border: 1px #333 solid !important; */
    padding: 0 2em 0 .2em;

}
.toolOption{
    margin-bottom: 2em;
    font-size: 13px;
}

/*  */
/*  */
/*  */
/*  */
.boxStars{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
}

ul.ks-cboxtags{
  padding: 0;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    /* display: inline-block; */
    box-shadow: 0px 0px 2px #333;
    background-color: #fff;
    color: #cc9900;
    border-radius: 5px;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 4px 6px;
    cursor: pointer;
    margin-left: 2px;
}

ul.ks-cboxtags li label::before {
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px;
    content: "\f005";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f005";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 1px solid #cc9922;
    background-color: #cc9900;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
/* ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid var(--primary2);
} */
